/* Fuentes: Playfair Display - títulos h1 y h2; Montserrat - cuerpo de la página*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    /* Colores Principales (Identidad) */
    --color-primario: #8B1D1D;    /* Granate Corporativo (el arco) */
    --color-primario-claro: #A32A2A; /* Para hover y acentos secundarios */
    --color-secundario: #B89D64;  /* Dorado Champán (acentos premium) */
    --color-secundario-claro: #E5D1A4; /* Para hover y acentos secundarios */
    
    /* Colores de Superficie y Fondos */
    --bg-principal: #FFFFFF;      /* Blanco Puro (limpieza visual) */
    --bg-secundario: #F8F9FA;        /* Gris Humo (para separar secciones) */
    --bg-footer: #1A1A1A;         /* Negro Carbón (cierre sólido) */

    /* Colores de Texto */
    --texto-oscuro: #1A1A1A;        /* Títulos y párrafos importantes */
    --texto-claro: #F5F5F5;       /* Texto sobre fondos oscuros (footer) */
    --texto-muted: #6C757D;       /* Gris para detalles menos importantes */

    /* Otros (Opcional pero recomendado) */
    --transicion-suave: all 0.3s ease;
    /* --shadow-header: -2px 4px 6px var(--color-primario) */
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* Estilos generales */
body {
    font-family: 'Montserrat';
}


h1{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

h2 {
    font-weight: 500;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-principal);
    height: 10vh;
}
header nav {
    width: 50%;
}
header ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li {
    list-style: none;
}
header a {
    text-decoration: none;
    color: black;
}

/* index .html */
/* hero section */
#hero {
    background:
        linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0) 60%),
        url(./img/ccneptuno.webp);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 90vh;
    padding-bottom: 8vh;
}

#hero .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}


#hero h1 {
    font-size: 6rem; 
    color: var(--texto-claro);
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
}

#hero h2 {
    color: var(--color-secundario-claro);
    font-size: 1.1rem;
    margin: 0 auto;
    max-width: 60%;
    text-transform: uppercase;;
    letter-spacing: 2px; /* Espaciado entre caracteres*/
    line-height: 1.6; /* Interlineado */
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5); 
}

/* CTA: call to action (botones) */
.cta {
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* Uso una clase general btn, y luego clases individuales para el principal y secundario */
.btn {
    padding: 16px 32px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: var(--transicion-suave);
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background-color: var(--color-primario);
    color: var(--texto-claro);
    border: 1px solid var(--color-primario); /* con este detalle mantiene el pixel de mismo tamaño*/
}

.btn-primary:hover {
    background-color: var(--color-primario-claro);
    border-color: var(--color-primario-claro);
    transform: translateY(-3px);
}

.btn-secondary {
    color: var(--texto-claro);
    border: 1px solid var(--texto-claro);
}

.btn-secondary:hover {
    border-color: var(--color-secundario);
    background-color: var(--color-secundario);
    transform: translateY(-3px);
}
